.home-page {
  position: relative;
  width: 360px;
  height: 1871px;
  background: coral;
}
.top-background-image {
  position: absolute;
  width: 360px;
  height: 194px;
  left: 0px;
  top: 0px;
  background-image: url(../assets/top-image.png);
}

.youtube-icon {
  position: absolute;
  width: 160px;
  height: 25.5px;
  left: 100px;
  top: 40.5px;
  background-image: url(../assets/Group-1277.png);
}
.channel-logo {
  position: absolute;
  width: 51.18px;
  height: 51.18px;
  left: 83px;
  top: 104px;
}
.channel-title {
  position: absolute;
  width: 98.1px;
  height: 22.39px;
  left: 146.34px;
  top: 100px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14.9282px;
  line-height: 150%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.back-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 40px;
  background-image: url(../assets/Back-arrow.png);
}
.subs-count {
  position: absolute;
  width: 75.71px;
  height: 12.8px;
  left: 146.98px;
  top: 124px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 8.53042px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f3f7;
}
.subs-vid-seperator {
  position: absolute;
  width: 2.13px;
  height: 2.13px;
  left: 218.88px;
  top: 130.12px;
  background: #f2f3f7;
  background-image: url(../assets/Ellipse\ 371.png);
}
.video-count {
  position: absolute;
  width: 43.72px;
  height: 12.8px;
  left: 225.28px;
  top: 124px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 8.53042px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f3f7;
}
.summary-text {
  position: absolute;
  width: 67px;
  height: 21px;
  left: 20px;
  top: 266px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
}
.summary-card {
  position: absolute;
  width: 320px;
  height: 90px;
  left: 20px;
  top: 325px;

  background: #ffffff;
  box-shadow: -6px -6px 12px rgba(244, 244, 244, 0.43),
    6px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.summary-card-subscribers {
  position: absolute;
  width: 58px;
  height: 15px;
  left: 41px;
  top: 341px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}
.summary-card-views {
  position: absolute;
  width: 31px;
  height: 15px;
  left: 148px;
  top: 341px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}

.summary-card-revenue {
  position: absolute;
  width: 43px;
  height: 15px;
  left: 241px;
  top: 341px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}
.summary-card-subscribers-count {
  position: absolute;
  width: 57px;
  height: 27px;
  left: 40px;
  top: 353px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}
.summary-card-views-count {
  position: absolute;
  width: 48px;
  height: 27px;
  left: 147px;
  top: 353px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}
.summary-card-revenue-count {
  position: absolute;
  width: 47px;
  height: 27px;
  left: 240px;
  top: 353px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;

  color: #000000;
}
.revenue-text {
  position: absolute;
  width: 60px;
  height: 21px;
  left: 20px;
  top: 455px;

  font-family: Encode Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
}
.revenue-card {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 514px;
  background: #ffffff;
  box-shadow: -6px -6px 12px rgba(244, 244, 244, 0.43),
    6px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.estimated-revenue-text {
  position: absolute;
  width: 96px;
  height: 15px;
  left: 43px;
  top: 527px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}
.estimated-revenue-value {
  position: absolute;
  width: 80px;
  height: 36px;
  left: 42px;
  top: 542px;

  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  display: flex;
  align-items: center;

  color: #000000;
}
.estimated-revenue-change-positive {
  position: absolute;
  width: 29px;
  height: 21px;
  left: 43px;
  top: 571px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #11ac6a;
}
.estimated-revenue-change-negative {
  position: absolute;
  width: 29px;
  height: 21px;
  left: 43px;
  top: 571px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: red;
}
.revenue-info {
  position: absolute;
  width: 8px;
  height: 8px;
  background-size: 8px;
  left: 75px;
  top: 578px;
  background-image: url(../assets/fi-rs-info.png);
  color: #9a9a9a;
}
.revenue-change-info-box {
  position: absolute;
  width: 67px;
  height: 21px;
  left: 83px;
  top: 582px;
  background: #ebfff7;
  border-radius: 3px;
}
.revenue-change-info-text {
  position: absolute;
  width: 50px;
  height: 10px;
  left: 87px;
  top: 587px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  line-height: 10px;
  text-align: center;
  color: #000000;
}
.revenue-canvas {
  position: absolute;
  width: 266px;
  height: 172px;
  left: 40px;
  top: 631px;
}
